# Multilinear Regression study on Discretionary Income

1. Pick variables
2. Analyze the data i.e summary statistics
3. Correlation Matrix
4. Create a training & test set
5. Use multilinear regression
6. Assess accuracy

## Extract

In [73]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error

In [63]:
df = pd.read_csv('GE-DMYR-2015-Final-Rates.csv')
df.head()

,Institution Code (six-digit OPEID),Institution Name,City,State,Zip,Institution Type,CIP Code,CIP Name,Credential Level,Official Program Pass/Zone/Fail,...,Debt-to-Earnings Transitional Rate,Debt-to-Earnings Transitional Rate Numerator,Debt-to-Earnings Transitional Rate Denominator,Debt-to-Earnings Transitional Rate Pass/Fail/Zone,Debt-to-Earnings Transitional Discretionary Income Rate,Debt-to-Earnings Transitional Discretionary Income Rate Numerator,Debt-to-Earnings Transitional Discretionary Income Rate Denominator,Debt-to-Earnings Transitional Discretionary Income Rate Pass/Fail/Zone,Mean Annual Earnings From SSA,Median Annual Earnings from SSA
0,1007,CENTRAL ALABAMA COMMUNITY COLLEGE,ALEXANDER CITY,AL,350100000.0,PUBLIC 2 TO 3 YEARS,513901,LICENSED PRACTICAL/VOCATIONAL NURSE TRAINING.,01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32617,35061
1,1013,CALHOUN COMMUNITY COLLEGE,TANNER,AL,356710000.0,PUBLIC 2 TO 3 YEARS,513901,LICENSED PRACTICAL/VOCATIONAL NURSE TRAINING.,01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26219,31071
2,1017,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,120401,"COSMETOLOGY/COSMETOLOGIST, GENERAL.",01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12114,11605
3,1017,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,480508,WELDING TECHNOLOGY/WELDER.,01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29104,29702
4,1017,GADSDEN STATE COMMUNITY COLLEGE,GADSDEN,AL,359032269.0,PUBLIC 2 TO 3 YEARS,510909,SURGICAL TECHNOLOGY/TECHNOLOGIST.,01 - UNDERGRADUATE CERTIFICATE,PASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21605,23598

## Cleaning Data

In [64]:
# Dependent Variable: 'Debt-to-Earnings Discretionary Income Rate'
# Independent Variables: 'Institution Name', 'City', 'State', 'Zip',
# 'Institution Type', 'CIP Name', 'Credential Level'

# Transforming DataFrame
df = df[['Credential Level', 'Mean  Annual Earnings From SSA', 'Median Annual Earnings from SSA' ]]

# Formatting column as integers
# df['Debt-to-Earnings Discretionary Income Rate'] = pd.to_numeric(df['Debt-to-Earnings Discretionary Income Rate'], 
#                                                                 errors = 'coerce',
#                                                                 downcast = 'integer')

## Transforming Data

In [65]:
# Selecting categorical features
categories = list(df.select_dtypes(include = 'object'))
categories

['Credential Level']

In [66]:
# Creating numerics from our categorical data
for cat in categories:
    print(df[cat].value_counts())

01 - UNDERGRADUATE CERTIFICATE         6082
02 - ASSOCIATES DEGREE                 1464
03 - BACHELORS DEGREE                   598
05 - MASTERS DEGREE                     267
08 - GRADUATE CERTIFICATE               114
04 - POST BACCALAUREATE CERTIFICATE      48
06 - DOCTORAL DEGREE                     47
07 - FIRST PROFESSIONAL DEGREE           17
Name: Credential Level, dtype: int64

In [67]:
# Creating dummy variables to represent our categorical data
df = df.dropna()
df = pd.get_dummies(df, drop_first = True)
df.head()

,Mean Annual Earnings From SSA,Median Annual Earnings from SSA,Credential Level_02 - ASSOCIATES DEGREE,Credential Level_03 - BACHELORS DEGREE,Credential Level_04 - POST BACCALAUREATE CERTIFICATE,Credential Level_05 - MASTERS DEGREE,Credential Level_06 - DOCTORAL DEGREE,Credential Level_07 - FIRST PROFESSIONAL DEGREE,Credential Level_08 - GRADUATE CERTIFICATE
0,32617,35061,0,0,0,0,0,0,0
1,26219,31071,0,0,0,0,0,0,0
2,12114,11605,0,0,0,0,0,0,0
3,29104,29702,0,0,0,0,0,0,0
4,21605,23598,0,0,0,0,0,0,0

In [68]:
# Isolating X and y & adding constant
y = df['Median Annual Earnings from SSA']
X = df.drop(columns = ['Median Annual Earnings from SSA', 'Mean  Annual Earnings From SSA'])
X = sm.add_constant(X)
print(X)

      const  Credential Level_02 - ASSOCIATES DEGREE  \
0       1.0                                        0
1       1.0                                        0
2       1.0                                        0
3       1.0                                        0
4       1.0                                        0
...     ...                                      ...
8632    1.0                                        0
8633    1.0                                        0
8634    1.0                                        0
8635    1.0                                        0
8636    1.0                                        0

      Credential Level_03 - BACHELORS DEGREE  \
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0
...                                      ...
8632                                       0
8633                                       0
8634                                       0
8635                                       0
8636                                       0

      Credential Level_04 - POST BACCALAUREATE CERTIFICATE  \
0                                                     0
1                                                     0
2                                                     0
3                                                     0
4                                                     0
...                                                 ...
8632                                                  0
8633                                                  0
8634                                                  0
8635                                                  0
8636                                                  0

      Credential Level_05 - MASTERS DEGREE  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0
...                                    ...
8632                                     0
8633                                     0
8634                                     0
8635                                     0
8636                                     0

      Credential Level_06 - DOCTORAL DEGREE  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
...                                     ...
8632                                      0
8633                                      0
8634                                      0
8635                                      0
8636                                      0

      Credential Level_07 - FIRST PROFESSIONAL DEGREE  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
...                                               ...
8632                                                0
8633                                                0
8634                                                0
8635                                                0
8636                                                0

      Credential Level_08 - GRADUATE CERTIFICATE
0                                              0
1                                              0
2                                              0
3                                              0
4                                              0
...                                          ...
8632                                           0
8633                                           0
8634                                           0
8635                                           0
8636                                           0

[8637 rows x 8 columns]

## Test & Training Sets

In [69]:
X_test, X_train, y_test, y_train = train_test_split(X, y,
                                                    train_size = 0.2,
                                                    random_state = 1502)

X_train.head()

,const,Credential Level_02 - ASSOCIATES DEGREE,Credential Level_03 - BACHELORS DEGREE,Credential Level_04 - POST BACCALAUREATE CERTIFICATE,Credential Level_05 - MASTERS DEGREE,Credential Level_06 - DOCTORAL DEGREE,Credential Level_07 - FIRST PROFESSIONAL DEGREE,Credential Level_08 - GRADUATE CERTIFICATE
5297,1.0,0,0,0,0,0,0,0
1869,1.0,0,0,0,0,0,0,0
8349,1.0,0,0,0,0,0,0,0
264,1.0,0,0,0,0,0,0,0
3397,1.0,0,1,0,0,0,0,0

## Multilinear Regression

In [70]:
model = sm.OLS(y_train, X_train).fit()
print(model.summary())

                                   OLS Regression Results
===========================================================================================
Dep. Variable:     Median Annual Earnings from SSA   R-squared:                       0.306
Model:                                         OLS   Adj. R-squared:                  0.306
Method:                              Least Squares   F-statistic:                     435.4
Date:                             Sun, 30 Jul 2023   Prob (F-statistic):               0.00
Time:                                     20:43:10   Log-Likelihood:                -75058.
No. Observations:                             6910   AIC:                         1.501e+05
Df Residuals:                                 6902   BIC:                         1.502e+05
Df Model:                                        7
Covariance Type:                         nonrobust
========================================================================================================================
                                                           coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------------
const                                                 2.174e+04    180.534    120.436      0.000    2.14e+04    2.21e+04
Credential Level_02 - ASSOCIATES DEGREE               3562.8157    411.606      8.656      0.000    2755.941    4369.691
Credential Level_03 - BACHELORS DEGREE                 1.42e+04    622.195     22.815      0.000     1.3e+04    1.54e+04
Credential Level_04 - POST BACCALAUREATE CERTIFICATE  2.579e+04   2056.946     12.540      0.000    2.18e+04    2.98e+04
Credential Level_05 - MASTERS DEGREE                  2.808e+04    874.317     32.119      0.000    2.64e+04    2.98e+04
Credential Level_06 - DOCTORAL DEGREE                 5.641e+04   2056.946     27.424      0.000    5.24e+04    6.04e+04
Credential Level_07 - FIRST PROFESSIONAL DEGREE        3.68e+04   3507.840     10.491      0.000    2.99e+04    4.37e+04
Credential Level_08 - GRADUATE CERTIFICATE            3.704e+04   1329.183     27.863      0.000    3.44e+04    3.96e+04
==============================================================================
Omnibus:                     2143.886   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10306.416
Skew:                           1.425   Prob(JB):                         0.00
Kurtosis:                       8.260   Cond. No.                         23.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Assessing Accuracy

In [71]:
predictions = model.predict(X_test)
predictions.head()

7522    21742.725434
3644    49824.862385
6295    21742.725434
1202    25305.541166
8450    21742.725434
dtype: float64

In [74]:
print('MAPE:', round(mean_absolute_percentage_error(y_test, predictions), 1))
print('MAE:', round(mean_absolute_error(y_test, predictions), 1))
print('RSME:', round(np.sqrt(mean_squared_error(y_test, predictions)), 1))

MAPE: 5.669978585009017e+17
MAE: 9630.6
RSME: 13672.8